/Ecopoints QR Scanner App/node_modules
/Ecopoints QR Scanner App/build
Ecopoints QR Scanner App/build/index.html
/Ecopoints QR Scanner App/android/app/build
/Ecopoints QR Scanner App/android/app/build

/node_modules
/build
build/index.html
build/assets/index-9f19fc50.js
build/assets/web-ea14fb0c.js
build/index.html

/build
build/index.html
build/index.html

/EcopointsReactNative/node_modules
